@model SAKURA.NZB.Domain.Customer

@{
    ViewData["Title"] = "Create";
}

<form asp-action="Create">
    <div class="form-horizontal">
        <h2>
            创建客户
            <div class="pull-right" style="margin-bottom: 20px">
                <p>
                    <button type="submit" class="btn btn-success">
                        保存 <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
                    </button>

                    <a asp-action="Index">
                        <input type="button" class="btn btn-danger" value="返回列表" />
                    </a>
                </p>
            </div>
        </h2>

        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="FullName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger" />
            </div>
        </div>
        
        <div class="form-group">
            <label asp-for="Address" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Phone1" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Phone1" class="form-control" />
                <span asp-validation-for="Phone1" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Phone2" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Phone2" class="form-control" />
                <span asp-validation-for="Phone2" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="IsIdentityUploaded"/>
                    <label asp-for="IsIdentityUploaded"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Level" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Level" class="form-control" />
                <span asp-validation-for="Level" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea  asp-for="Description" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Description" class="text-danger" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
