input[type="radio"],
input[type="checkbox"] {
    display:none;
}

label > input[type="radio"] + span,
label > input[type="checkbox"] + span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    cursor:pointer;
}
​
label > input[type="radio"] + span{
    border-radius: 50%;
}
​
label > input[type="checkbox"] + span {
    border-radius: 25%;
}
​
label > input[type="radio"] + span,
label > input[type="checkbox"] + span {
     background-color: #D7DCDE;
}
​
label > input[type="radio"]:checked + span,
label > input[type="checkbox"]:checked + span {
     background-color: #001E62;
	 position: relative;
}
​
label > input[type="radio"] + span,
label > input[type="radio"]:checked + span,
label > input[type="checkbox"] + span,
label > input[type="checkbox"]:checked + span {
  transition:background-color 0.2s linear;
}

label > input[type="checkbox"]:checked + span::after {
    font-family: 'FontAwesome';
	content: '\f00c';
	color: white;
	position: absolute;
	left: 3px;
}