body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
    color: #333;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.grey-border {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar {
    margin-bottom: 1px;
}

/* Carousel */
.carousel-caption {
    z-index: 10 !important;
}

    .carousel-caption p {
        font-size: 20px;
        line-height: 1.4;
    }

.checkbox input[type=checkbox],
.checkbox-inline input[type=checkbox],
.radio input[type=radio],
.radio-inline input[type=radio] {
    margin-left: 0;
}

dt {
    padding-bottom: 5px;
}

dd {
    padding-bottom: 10px;
}

#Header a:focus, a:hover, a:active {
    color: #23527c;
    text-decoration: none;
    cursor: pointer;
    cursor: hand;
}

#Header path, line {
    stroke: #777;
}

@media (min-width: 768px) {
    .carousel-caption {
        z-index: 10 !important;
    }
}
