<div class="grey-border">
    <h2 class="page-header">{{title}}</h2>

    <form class="form-horizontal" (ngSubmit)="onSubmit()" #myForm="ngForm" [ngFormModel]="productForm">
        <div class="form-group">
            <label class="col-md-2" for="category">类别</label>
            <div class="col-md-10">
                <select id="category" class="form-control" ngControl="category" #category="ngForm">
                    <option *ngFor="#c of categories; #i = index" value="{{c.id}}">{{c.name}}</option>
                </select>

                <div [hidden]="category.valid || category.pristine" class="alert alert-danger">
                    请选择一个类别
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2" for="brand">品牌</label>
            <div class="col-md-10">
                <!--<select id="brand" class="form-control" ngControl="brand" #brand="ngForm">
                    <option *ngFor="#c of brands; #i = index" value="{{c.id}}">{{c.name}}</option>
                </select>

                <div [hidden]="brand.valid || brand.pristine" class="alert alert-danger">
                    请选择一个品牌
                </div>-->
                <input id="brands" class="form-control"
                       [(ngModel)]="selectedBrandName"
                       [typeahead]="brands"
                       (typeaheadOnSelect)="onSelectBrand($event)"
                       [typeaheadOptionField]="'name'" required #brand="ngForm" 
                       [ngClass]="{'ng-invalid': !productForm.controls.brand.valid, 'ng-valid': productForm.controls.brand.valid}"
                       (input)="onBrandInput($event)"/>
                <div [hidden]="productForm.controls.brand.valid || brand.pristine" class="alert alert-danger">
                    请输入一个品牌
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2" for="name">产品名称</label>
            <div class="col-md-10">
                <input id="name" type="text" class="form-control" maxlength="100" ngControl="name" #name="ngForm" required/>
                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                    产品名称不能为空
                </div>
            </div>
        </div>

        <div class="form-group visible-xs-block">
            <div class="col-sm-12 col-md-offset-2 col-md-10" style="margin-top: 20px">
                <button type="button" class="btn btn-info" (click)="onAddQuote()" [disabled]="!canAddQuote">供应商报价 <i class="fa fa-plus fa-lg"></i></button>
            </div>
        </div>

        <div class="form-group visible-xs-block">
            <div class="col-xs-12">
                <ul class="quote-card">
                    <li *ngFor="#q of model.quotes; #i = index">
                        <div class="panel panel-default" [ngClass]="{'panel-danger': !q.isValid}">
                            <div class="panel-heading">
                                <b>{{i + 1}}</b> <i class="fa fa-times pull-right clickable" (click)="onRemoveQuote(i)"></i>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-7 supplier-field">
                                        <select id="category" class="form-control" [(ngModel)]="q.supplierId">
                                            <option *ngFor="#s of suppliers" value="{{s.id}}">{{s.name}}</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-5">
                                        <input type="number" class="form-control" id="exampleInputAmount" placeholder="NZD" [(ngModel)]="q.price"
                                               min="1" step="0.01" />
                                    </div>
                                </div>
                                <table class="table table-bordered">
                                    <tr>
                                        <td class="text-center info">{{currentRate}} <i class="fa fa-refresh fa-spin"></i></td>
                                        <td class="text-center success">{{fixedRateLow}} <i class="fa fa-angle-down"></i></td>
                                        <td class="text-center success">{{fixedRateHigh}} <i class="fa fa-angle-up"></i></td>
                                    </tr>
                                    <tr>
                                        <td class="text-center" [ngClass]="{placeholder: !q.price}">{{q.currencyConvert(currentRate)}}</td>
                                        <td class="text-center" [ngClass]="{placeholder: !q.price}">{{q.currencyConvert(fixedRateLow)}}</td>
                                        <td class="text-center" [ngClass]="{placeholder: !q.price}">{{q.currencyConvert(fixedRateHigh)}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </li>
                </ul>

                <div [hidden]="isQuotesValid" class="alert alert-danger">
                    供应商和报价不能为空
                </div>
            </div>
        </div>

        <div class="form-group hidden-xs">
            <div class="col-sm-12 col-md-offset-2 col-md-10">
                <div class="panel panel-default" [ngClass]="{'panel-danger': !isQuotesValid}">
                    <div class="panel-heading">
                        供应商报价
                        <button type="button" class="btn btn-info btn-xs pull-right" (click)="onAddQuote()" [disabled]="!canAddQuote"><i class="fa fa-plus fa-lg"></i></button>
                    </div>

                    <table class="table table-bordered quote-list">
                        <thead>
                            <tr>
                                <td>供应商</td>
                                <td style="width:15%">报价</td>
                                <td class="text-center info">实时汇率: <b>{{currentRate}}</b> <i class="fa fa-refresh fa-spin"></i></td>
                                <td class="text-center success">固定汇率: <b>{{fixedRateLow}}</b> <i class="fa fa-angle-down"></i></td>
                                <td class="text-center success">固定汇率: <b>{{fixedRateHigh}}</b> <i class="fa fa-angle-up"></i></td>
                                <td style="width:40px"></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="#q of model.quotes; #i = index" class="quote-detail">
                                <td>
                                    <select id="category" class="form-control no-border" [(ngModel)]="q.supplierId">
                                        <option *ngFor="#s of suppliers" value="{{s.id}}">{{s.name}}</option>
                                    </select>
                                </td>
                                <td>
                                    <input type="number" class="form-control no-border" id="exampleInputAmount" placeholder="NZD" [(ngModel)]="q.price"
                                           min="1" step="0.01" />
                                </td>
                                <td class="text-center" [ngClass]="{placeholder: !q.price}">{{q.currencyConvert(currentRate)}}</td>
                                <td class="text-center" [ngClass]="{placeholder: !q.price}">{{q.currencyConvert(fixedRateLow)}}</td>
                                <td class="text-center" [ngClass]="{placeholder: !q.price}">{{q.currencyConvert(fixedRateHigh)}}</td>
                                <td class="text-center"><i class="fa fa-times clickable" (click)="onRemoveQuote(i)"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div [hidden]="isQuotesValid" class="alert alert-danger">
                    供应商和报价不能为空
                </div>
            </div>
        </div>


        <div class="form-group" [ngClass]="{'has-warning': isLowPrice}">
            <label class="col-md-2" for="price">定价</label>
            <div class="col-md-10">
                <div class="input-group">
                    <i class="fa fa-yen input-group-addon"></i>
                    <input id="price" type="number" class="form-control" min="1" step="0.01" placeholder="CNY" ngControl="price"/>
                    <span class="input-group-addon" *ngIf="profit != ''">利润: {{profit}}</span>
                </div>
                <div [hidden]="!isLowPrice" class="alert alert-warning">
                    定价低于最低报价
                </div>

            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2" for="desc">描述</label>
            <div class="col-md-10">
                <textarea id="desc" type="text" class="form-control" min="1" ngControl="desc" rows="3"></textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="button" class="btn btn-default" [routerLink]="['产品']">返回列表</button>
                <button type="submit" class="btn btn-success left-spacer"
                        [disabled]="!myForm.form.valid || !isQuotesValid || !brand.valid">
                    保存 <i class="fa fa-floppy-o fa-lg"></i>
                </button>
            </div>
        </div>
    </form>
</div>