<div class="loading" *ngIf="isLoading">Loading&#8230;</div>

<div class="grey-border" *ngIf="!isLoading">
    <h2 class="page-header">
        产品 <small>({{totalItemCount}} / {{totalAmount}})</small>

        <div class="pull-right">
            <button type="button" class="btn btn-info hidden-xs" [routerLink]="['PbeEdit', {type: 'category'}]">
                类别 <span class="badge">{{categoryAmount}}</span>
            </button>
            <button type="button" class="btn btn-info hidden-xs" [routerLink]="['PbeEdit', {type: 'supplier'}]">
                供应商 <span class="badge">{{supplierAmount}}</span>
            </button>

            <button type="button" class="btn btn-info" [routerLink]="['PAdd']">
                新建 <i class="fa fa-shopping-bag fa-lg"></i>
            </button>
        </div>
    </h2>

    <div class="visible-xs-inline">
        <ul class="reference-list ">
            <li [routerLink]="['PbeEdit', {type: 'category'}]">
                <h4>{{categoryAmount}}</h4>
                类别
            </li>
            <li [routerLink]="['PbeEdit', {type: 'supplier'}]">
                <h4>{{supplierAmount}}</h4>
                供应商
            </li>
        </ul>
    </div>
  
    <div class="row product-search">
        <div class="col-xs-12 col-sm-8">
            <div class="form-group input-group margin-bottom-0">
                <input type="text" class="form-control" placeholder="搜索产品名或品牌"
                       [(ngModel)]="filterText" (keyup)="onSearchKeyword($event.target.value)" (input)="onSearchKeyword($event.target.value)" />
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default" aria-label="Clear" (click)="onClearFilter()">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <select class="form-control" [(ngModel)]="filterCategory" (change)="onSearchCategory($event.target.value)">
                <option value="" selected default>产品类别</option>
                <option *ngFor="#c of categories" value="{{c.id}}">{{c.name}}</option>
            </select>
        </div>
    </div>


    <div class="row">
        <div class="col-xs-12">
            <div class="pull-right">
                <pagination [totalItems]="totalItemCount" [(ngModel)]="page" [itemsPerPage]="itemsPerPage" [maxSize]="10"
                            [boundaryLinks]="true" [rotate]="false"
                            (pageChanged)="onPageChanged($event)"></pagination>
            </div>
        </div>
    </div>

    <table class="table table-hover table-bordered table-condensed margin-top-0">
        <thead>
            <tr>
                <th>类别 / 产品</th>
                <th class="hidden-xs" width="80">成本价</th>          
                <th class="hidden-xs" width="80">{{fixedRateLow}}</th>
                <th class="hidden-xs" width="80">{{fixedRateHigh}}</th>
                <th class="hidden-xs" width="80">定价</th>  
                <th class="hidden-xs hidden-sm" width="80">售出价 <i class="fa fa-arrow-circle-down"></i></th>
                <th class="hidden-xs hidden-sm" width="80">售出价 <i class="fa fa-arrow-circle-up"></i></th>
                <th class="hidden-xs hidden-sm" width="60">售出量</th>
                <th width="45"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="#s of searchList; #i = index" (click)="onSelect(s.id)">
                <td *ngIf="s.isCategoryItem" colspan="9" class="bg-primary opacity-60">{{s.category}}</td>

                <td *ngIf="!s.isCategoryItem">{{s.brand}} {{s.name}}</td>
                <td *ngIf="!s.isCategoryItem" class="hidden-xs warning">{{ s.quoteText }}</td>  
                <td *ngIf="!s.isCategoryItem" class="hidden-xs warning">{{s.quoteFixedRateLow}}</td>
                <td *ngIf="!s.isCategoryItem" class="hidden-xs warning">{{s.quoteFixedRateHight}}</td>
                <td *ngIf="!s.isCategoryItem" class="hidden-xs success">{{s.priceText}}</td>
                <td *ngIf="!s.isCategoryItem" class="hidden-xs hidden-sm success">{{s.soldLowPriceText}}</td>
                <td *ngIf="!s.isCategoryItem" class="hidden-xs hidden-sm success">{{s.soldHighPriceText}}</td>
                <td *ngIf="!s.isCategoryItem" class="hidden-xs hidden-sm success">{{s.soldCount}}</td>              
                <td *ngIf="!s.isCategoryItem" class="text-center clickable" [routerLink]="['PEdit', { id: s.id }]"><i class="fa fa-pencil-square-o fa-lg"></i></td>
            </tr>
            <tr *ngIf="searchList.length == 0">
                <td colspan="9" class="warning">当前没有任何符合查询条件的产品...</td>
            </tr>
        </tbody>
    </table>
    
</div>