<div class="grey-border">

    <h2 class="page-header">
        产品 <small>({{amount}} / {{totalAmount}})</small>

        <div class="pull-right">
            <button type="button" class="btn btn-info hidden-xs" [routerLink]="['PbeEdit', {type: 'category'}]">
                类别 <span class="badge">{{categoryAmount}}</span>
            </button>
            <button type="button" class="btn btn-info hidden-xs" [routerLink]="['PbeEdit', {type: 'brand'}]">
                品牌 <span class="badge">{{brandAmount}}</span>
            </button>
            <button type="button" class="btn btn-info hidden-xs" [routerLink]="['PbeEdit', {type: 'supplier'}]">
                供应商 <span class="badge">{{supplierAmount}}</span>
            </button>

            <button type="button" class="btn btn-info" [routerLink]="['PAdd']">
                新建 <i class="fa fa-shopping-bag fa-lg"></i>
            </button>
        </div>
    </h2>

    <div class="visible-xs-inline">
        <ul class="reference-list ">
            <li [routerLink]="['PbeEdit', {type: 'category'}]">
                <h4>{{categoryAmount}}</h4>
                类别
            </li>
            <li [routerLink]="['PbeEdit', {type: 'brand'}]">
                <h4>{{brandAmount}}</h4>
                品牌
            </li>
            <li [routerLink]="['PbeEdit', {type: 'supplier'}]">
                <h4>{{supplierAmount}}</h4>
                供应商
            </li>
        </ul>
    </div>
  
    <div>
        <div class="form-group input-group">
            <input type="text" class="form-control" placeholder="搜索产品名或品牌"
                   [(ngModel)]="filterText" (keyup)="onSearch($event.target.value)" (input)="onSearch($event.target.value)" />
            <div class="input-group-btn">
                <button type="button" class="btn btn-default" aria-label="Clear" (click)="onClearFilter()">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </div>
        </div>
    </div>

    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>类别 / 产品</th>
                <th>定价</th>
                <th>{{quoteHeader1.supplier}}</th>
                <th>{{quoteHeader1.fixedRateLow}}</th>
                <th>{{quoteHeader1.fixedRateHigh}}</th>
                <th>{{quoteHeader2.supplier}}</th>
                <th>{{quoteHeader2.fixedRateLow}}</th>
                <th>{{quoteHeader2.fixedRateHigh}}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="#s of searchList; #i = index" (click)="onSelect(s.id)" [ngClass]="{'info': s.selected}">
                <td *ngIf="s.isCategoryItem" colspan="9" class="active">{{s.category}}</td>

                <td *ngIf="!s.isCategoryItem">{{s.brand}} {{s.name}}</td>
                <td *ngIf="!s.isCategoryItem">{{s.price}}</td>

                <td *ngIf="!s.isCategoryItem">{{s.quotes[0]?.price}}</td>
                <td *ngIf="!s.isCategoryItem">{{s.quotes[0]?.priceFixedRateLow}}</td>
                <td *ngIf="!s.isCategoryItem">{{s.quotes[0]?.priceFixedRateHigh}}</td>
                <td *ngIf="!s.isCategoryItem">{{s.quotes[1]?.price}}</td>
                <td *ngIf="!s.isCategoryItem">{{s.quotes[1]?.priceFixedRateLow}}</td>
                <td *ngIf="!s.isCategoryItem">{{s.quotes[1]?.priceFixedRateHigh}}</td>              
                <td *ngIf="!s.isCategoryItem" class="text-center clickable" [routerLink]="['PEdit', { id: s.id }]"><i class="fa fa-pencil-square-o fa-lg"></i></td>
            </tr>
        </tbody>
    </table>
</div>