<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="widget widget-content-orange shadow clearfix">
            <div class="scope table-cell">
                <i class="fa fa-user fa-4x opacity-50 margin-left-10"></i>
            </div>
            
            <div class="scope pull-right">
                <p class="md-display-3 font-weight-100 text-ellipsis margin-bottom-0">54</p>
                <p class="md-body-2 margin-bottom-0 opacity-60">用户</p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">b</div>
    <div class="col-xs-12 col-sm-6 col-md-3">c</div>
    <div class="col-xs-12 col-sm-6 col-md-3">d</div>
</div>