<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="widget widget-content orange shadow clearfix">
            <div class="scope table-cell">
                <i class="fa fa-optin-monster fa-4x opacity-50 margin-left-10"></i>
            </div>

            <div class="scope pull-right">
                <p class="md-display-3 font-weight-100 text-ellipsis margin-bottom-0">{{summary.customerCount}}</p>
                <p class="md-body-2 margin-bottom-0 opacity-60">客户</p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="widget widget-content light-blue shadow clearfix">
            <div class="scope table-cell">
                <i class="fa fa-pagelines fa-4x opacity-50 margin-left-10"></i>
            </div>

            <div class="scope pull-right">
                <p class="md-display-3 font-weight-100 text-ellipsis margin-bottom-0">{{summary.productCount}}</p>
                <p class="md-body-2 margin-bottom-0 opacity-60">产品</p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="widget widget-content blue shadow clearfix">
            <div class="scope table-cell">
                <i class="fa fa-pied-piper-alt fa-5x opacity-50 margin-left-10"></i>
            </div>

            <div class="scope pull-right">
                <p class="md-display-3 font-weight-100 text-ellipsis margin-bottom-0">{{summary.brandCount}}</p>
                <p class="md-body-2 margin-bottom-0 opacity-60">品牌</p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="widget widget-content green shadow clearfix">
            <div class="scope table-cell">
                <i class="fa fa-paper-plane-o fa-4x opacity-50 margin-left-10"></i>
            </div>

            <div class="scope pull-right">
                <p class="md-display-3 font-weight-100 text-ellipsis margin-bottom-0">{{summary.orderCount}}</p>
                <p class="md-body-2 margin-bottom-0 opacity-60">订单</p>
            </div>
        </div>
    </div>
</div>

<div class="widget widget-content shadow margin-top-5 padding-left-15">
    <div class="btn-group pull-right">
        <label class="margin-right-5 clickable" [(ngModel)]="lineChartSwitch"
               btnCheckbox (click)="onSwapType()">...</label>
    </div>
    <base-chart class="line-chart "
                [data]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [series]="lineChartSeries"
                [colours]="lineChartColours"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"></base-chart>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="widget widget-content shadow bg-primary">
            <p class="md-display-2 font-weight-100 margin-bottom-0 text-center">$6,203.25</p>
            <p class="opacity-50 margin-bottom-0 text-center">总成本</p>
        </div>
        <div class="widget widget-content shadow bg-primary">
            <p class="md-display-2 font-weight-100 margin-bottom-0 text-center">¥73,326.12</p>
            <p class="opacity-50 margin-bottom-0 text-center">总收入</p>
        </div>
        <div class="widget widget-content shadow bg-primary">
            <p class="md-display-2 font-weight-100 margin-bottom-0 text-center">¥15,203.25</p>
            <p class="opacity-50 margin-bottom-0 text-center">总利润</p>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4">
        <div class="widget widget-content shadow">

        </div>
        <div class="widget widget-content shadow">

        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="widget widget-content shadow">
            <base-chart class="doughnut-chart"
                        [data]="doughnutChartData"
                        [labels]="doughnutChartLabels"
                        [chartType]="doughnutChartType"></base-chart>
        </div>
    </div>
</div>
