.widget-content {
    padding: 8px;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    display: table;
    margin-bottom: 15px;
}

.orange {
    border-color: rgb(255, 87, 34);
    color: rgb(255, 255, 255);
    background-color: rgb(255, 87, 34);
}

.light-blue {
    border-color: rgb(0, 188, 212);
    color: rgb(255, 255, 255);
    background-color: rgb(0, 188, 212);
}

.blue {
    border-color: rgb(63, 81, 181);
    color: rgba(255, 255, 255, 0.870588);
    background-color: rgb(63, 81, 181);
}

.green {
    border-color: rgb(0, 150, 136);
    color: rgb(255, 255, 255);
    background-color: rgb(0, 150, 136);
}

.widget:hover {
    box-shadow: 0 7px 8px -4px rgba(0,0,0,.2),0 12px 17px 2px rgba(0,0,0,.14),0 5px 22px 4px rgba(0,0,0,.12);
}

.shadow {
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
}

.scope {
    padding: 8px;
}

.padding-left-15 {
    padding-left: 15px;
}

.margin-left-10 {
    margin-left: 10px !important;
}

.margin-bottom-0 {
    margin-bottom: 0 !important;
}

.margin-top-0 {
    margin-top: 0 !important;
}

.margin-top-5 {
    margin-top: 5px;
}

.margin-top-10 {
    margin-top: 10px;
}

.text-ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
}

.font-weight-100 {
    font-weight: 100 !important;
}

.md-display-3 {
    font-size: 56px;
    font-weight: 400;
    letter-spacing: -.005em;
    line-height: 56px;
}

.md-body-2 {
    font-weight: 500;
    line-height: 24px;
    text-align: right;
}

.opacity-50 {
    opacity: .5 !important;
}

.opacity-60 {
    opacity: .6 !important;
}

.chart-legend, .bar-legend, .line-legend, .pie-legend, .radar-legend, .polararea-legend, .doughnut-legend {
    list-style-type: none;
    margin-top: 5px;
    text-align: center;
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
    padding-left: 0;
}

.chart-legend li, .bar-legend li, .line-legend li, .pie-legend li, .radar-legend li, .polararea-legend li, .doughnut-legend li {
    display: inline-block;
    white-space: nowrap;
    position: relative;
    margin-bottom: 4px;
    border-radius: 5px;
    padding: 2px 8px 2px 28px;
    font-size: 12px;
    color: #777;
    cursor: default;
}

.chart-legend li span, .bar-legend li span, .line-legend li span, .pie-legend li span, .radar-legend li span, .polararea-legend li span, .doughnut-legend li span {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border-radius: 5px;
}

.chart {
    display: block;
    width: 100%;
    height: 300px;
    margin-bottom: 30px;
}
