<div class="loading" *ngIf="isLoading">Loading&#8230;</div>

<div class="grey-border" *ngIf="!isLoading">
    <h2 class="page-header">
        换汇记录 <small>({{historyList.length}} / {{totalItemCount}})</small>

        <div class="pull-right">
            <button type="button" class="btn btn-info">
                新建 <i class="fa fa-history fa-lg"></i>
            </button>
        </div>
    </h2>

    <div class="row margin-bottom-10 summary">
        <div class="col-xs-12 col-sm-4 text-center">
            <div class="widget-content clearfix bg-info-light">
                <div class="scope table-cell">
                    <i class="fa fa-cloud-upload fa-4x opacity-60"></i>
                </div>

                <div class="scope table-cell text-right">
                    <p class="md-display-2 font-weight-100 margin-bottom-0">{{historySummary.totalCny}}</p>
                    <p class="md-body-2 margin-bottom-0 opacity-60">总汇入</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 text-center">
            <div class="widget-content clearfix bg-info-light">
                <div class="scope table-cell">
                    <i class="fa fa-exchange fa-4x opacity-60"></i>
                </div>

                <div class="scope table-cell text-right">
                    <p class="md-display-2 font-weight-100 margin-bottom-0">{{historySummary.rate}}</p>
                    <p class="md-body-2 margin-bottom-0 opacity-60">平均汇率</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 text-center">
            <div class="widget-content clearfix bg-info-light">
                <div class="scope table-cell">
                    <i class="fa fa-cloud-download fa-4x opacity-60"></i>
                </div>

                <div class="scope table-cell text-right">
                    <p class="md-display-2 font-weight-100 margin-bottom-0">{{historySummary.totalNzd}}</p>
                    <p class="md-body-2 margin-bottom-0 opacity-60">总汇出</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="pull-right">
                <pagination [totalItems]="totalItemCount" [(ngModel)]="page" [itemsPerPage]="itemsPerPage" [maxSize]="10"
                            [boundaryLinks]="true" [rotate]="false"
                            (pageChanged)="onPageChanged($event)"></pagination>
            </div>
        </div>
    </div>

    <div class="history-list margin-top-10 margin-bottom-15">
        <div class="widget-content clearfix" *ngFor="#h of historyList; #i = index">
            <div class="scope table-cell">
                <span class="md-display-05 font-weight-100 margin-bottom-10">{{h.createdTime}}</span>
            </div>

            <div class="scope table-cell text-right">
                <p class="md-display-1 font-weight-100 margin-bottom-0">{{h.cny}}</p>
                <p class="md-body-2 margin-bottom-0 opacity-60">汇入</p>
            </div>

            <div class="scope table-cell text-right">
                <i class="fa fa-exchange fa-3x opacity-30"></i><span class="md-display-1 font-weight-100 opacity-60 margin-left-10">{{h.rate}}</span>
                <p class="md-body-2 margin-bottom-0 opacity-60">结算汇率</p>
            </div>


            <div class="scope table-cell text-right">
                <p class="md-display-1 font-weight-100 margin-bottom-0">{{h.nzd}}</p>
                <p class="md-body-2 margin-bottom-0 opacity-60">汇出</p>
            </div>

            <div class="scope table-cell text-right clickable">
                <i class="fa fa-angle-right fa-2x padding-right-8"></i>
            </div>
        </div>
    </div>
</div>