.history-list {
   margin-top: 10px;
}

.history-list > div:last-child {
   border-bottom: 1px solid #ccc;
}

.widget-content {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    display: table;
    border-top: 1px solid #ccc;
}

.widget-content .symbol {
    color: rgb(0,188,212);
}

.widget-content > div:nth-of-type(1) {
    width: 150px;
}

.widget-content > div:nth-of-type(2) {
    width: 260px;
}

.widget-content > div:nth-of-type(3) {
    width: 240px;
}

.scope {
    padding: 8px;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
}