<div class="loading" *ngIf="isLoading">Loading&#8230;</div>

<div class="grey-border" *ngIf="!isLoading">
    <h2 class="page-header">
        品牌 <small>({{amount}} / {{totalAmount}})</small>
        <button type="button" class="btn btn-info pull-right" (click)="onCreate()">
            新建 <i class="fa fa-paw fa-lg"></i>
        </button>
    </h2>

    <div>
        <div class="form-group input-group">
            <input type="text" class="form-control" placeholder="搜索品牌"
                   [(ngModel)]="filterText" (keyup)="onSearch($event.target.value)" (input)="onSearch($event.target.value)" />
            <div class="input-group-btn">
                <button type="button" class="btn btn-default" aria-label="Clear" (click)="onClearFilter()">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </div>
        </div>
    </div>

    <ul class="customers-list">
        <li *ngFor="#c of searchList; #i = index">
            <div class="clickable" (click)="onClick(c.id)" [ngClass]="{'selected': c.selected}">
                <div class="delete text-right">
                    <i class="fa fa-times" aria-hidden="true" *ngIf="c.selected && c.count == 0"></i>
                </div>               
                <h3 class="font-weight-300 margin-top-5 text-ellipsis">{{c.name}}</h3>
            </div>
        </li>
    </ul>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form class="form-horizontal" (ngSubmit)="onSubmit()" #myForm="ngForm" [ngFormModel]="brandForm">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="myModalLabel">{{dialogTitle}}</h3>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-md-2" for="brandName">品牌</label>
                        <div class="col-md-10">
                            <input id="brandName" type="text" class="form-control" maxlength="100" required ngControl="brand" #brand="ngForm"/>
                            <div [hidden]="brand.valid || brand.pristine" class="alert alert-danger">
                                品牌不能为空
                            </div>
                            <!--<div [hidden]="brand.hasError('duplicated')" class="alert alert-danger">
                                命名不能与已有品牌重复
                            </div>-->
                        </div>
                    </div>

                    <div class="alert alert-warning alert-dismissible" role="alert" *ngIf="duplicatedNameAlert">
                        <strong><i class="fa fa-warning"></i></strong> 无法保存品牌，当前命名与已有品牌名称重复
                    </div>

                    <table class="table table-condensed table-hover table-bordered margin-top-15" *ngIf="editMode">
                        <tr class="active">
                            <th>产品列表</th>
                        </tr>
                        <tr *ngIf="products.length == 0">
                            <td>暂无任何产品数据</td>
                        </tr>
                        <tr *ngFor="#p of products; #i = index">
                            <td>{{i + 1}} <span class="padding-left-15">{{p}}</span></td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" [disabled]="!canDelete" (click)="onDelete()">删除</button>
                    <button type="submit" class="btn btn-success" [disabled]="!myForm.form.valid">保存</button>
                </div>
            </form>
        </div>
    </div>
</div>