@{
    ViewData["Title"] = "Home Page";
}
<div id="Header" class="row container" style="margin-right: auto; margin-left: auto;">
    <div class="col-sm-6" style="padding:0">
        <h1>
            <a class="regenerate">
                SAKURA
            </a>
            <br>
            <small>
                <a class="recolor">NZ BUY</a>  <i class="fa fa-refresh fa-spin left-spacer"></i> @Html.Raw(ViewBag.CurrencyRate)
            </small>            
        </h1>
    </div>
    <div class="col-sm-6" style="padding:0">
        <div class="pull-right">
            <svg preserveAspectRatio="xMaxYMax slice" viewBox="0 0 840 600" width="258" height="150"></svg>
        </div>
    </div>
</div>

<app class="container" style="display: block;">Loading...</app>
