<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sakura NZ Buy</title>
    <link rel="shortcut icon" href="~/images/favicon_16.png" type="image/x-icon" />

    <environment names="Development">
        <!-- Css -->
        <link rel="stylesheet" href="~/css/site.css">
        <link rel="stylesheet" href="~/css/font-awesome.css">
        <link rel="stylesheet" href="~/css/toggle-switch.css">
        <link rel="stylesheet" href="~/css/circle.css">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">        

        <!-- Js -->                
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/systemjs/dist/system.js"></script>
        <script src="~/lib/rxjs/bundles/Rx.js"></script>
        <script src="~/lib/typescript/lib/typescript.js"></script>
        <script src="~/lib/angular2/bundles/angular2.dev.js"></script>
        <script src="~/lib/angular2/bundles/angular2-polyfills.js"></script>
        <script src="~/lib/angular2/bundles/http.dev.js"></script>
        <script src="~/lib/angular2/bundles/router.dev.js"></script>        
    </environment>
    <environment names="Staging,Production">
        <!-- Css -->
        <link rel="stylesheet" href="~/css/site.min.css">
        <link rel="stylesheet" href="~/css/font-awesome.min.css">
        <link rel="stylesheet" href="~/css/toggle-switch.min.css">
        <link rel="stylesheet" href="~/css/circle.min.css">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">

        <!-- Js -->       
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="~/lib/systemjs/dist/system.js"></script>
        <script src="~/lib/rxjs/bundles/Rx.min.js"></script>
        <script src="~/lib/typescript/lib/typescript.js"></script>
        <script src="~/lib/angular2/bundles/angular2.dev.js"></script>
        <script src="~/lib/angular2/bundles/angular2-polyfills.min.js"></script>
        <script src="~/lib/angular2/bundles/http.dev.js"></script>
        <script src="~/lib/angular2/bundles/router.dev.js"></script>
    </environment>
    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)

    <!-- Configure SystemJS -->
    <script>
        System.config({
            packages: {
                'src/app': {
                    format: 'register',
                    defaultExtension: 'js'
                }
            },
            map: {
                moment: 'lib/moment/min/moment-with-locales.js',
                clipboard: 'lib/clipboard/dist/clipboard.js'
            }
        });
        System.import('src/app/boot')
              .then(null, console.error.bind(console));
    </script>
</head>
<base href="/" />

<body>
    <div>
        @RenderBody()

        <footer class="container" style="margin-top: 30px">
            <hr />
            <p>&copy; 2016 - Sakura NZ Buy</p>
        </footer>
    </div>

    <environment names="Development">
        <script src="~/lib/d3/d3.js"></script>
        <script src="~/js/d3-tree.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/d3/d3.min.js"></script>
        <script src="~/js/d3-tree.min.js"></script>
    </environment>


    @RenderSection("scripts", required: false)
</body>
</html>
