.customers-list {
    list-style: none;
    overflow: hidden;
    padding-left: 0;
}

.customers-list li {
    float: left;
    width: 33%;
    height: 90px;
    padding: 10px;
    font-size: 9px;
    line-height: 1.4;
    text-align: center;
    background-color: #f9f9f9;
    border: 1px solid #fff;
}

.customers-list li:hover {
    background-color: #d26c6c;
    color: #fff;
}

.customers-table tr:hover,
.customers-table-tr-selected {
    color: #2585ae;
}

.customers-table th:hover,
.customers-table-th-selected {
    background: #5bc0de !important;
}

.item:hover a p.new-label span {
    display: none;
}

.item:hover a p.new-label:after {
    content: 'ADD';
}

.customers-table tr:last-of-type > td,
.customers-table tr:last-of-type > th {
    border-bottom: 1px solid #ddd;
}

.customers-table td.vert-align {
    vertical-align: middle;
}

.customers-table th {
    text-align: center;
    vertical-align:middle;
    background-color: #337ab7;
    color: #fff;
    width: 50px;
}

.customers-table th h3 {
    margin: 5px 0;
}

.customers-table th > i {
    margin: 11px 0;
    cursor: pointer;
    cursor: hand;
}

.customers-table tr > td:first-of-type {
    min-width: 65px;
}

.customers-table tr > td:last-of-type {
    border-right: 4px solid #4e8539;
}

td {
    vertical-align: top;
}

table,
table td:last-of-type {
    width: 100%
}

.from-container {
    border-left: 1px solid #ccc;
    margin-left: 20px;
}

@media (min-width: 768px) {
    .customers-list li {
        width: 20%;
        height: 115px;
        font-size: 14px;
    }

    .customers-table th {
        width: 60px;
    }

    .from-container {
        padding-left: 30px;
        overflow: hidden;
    }
}

@media (min-width: 1024px) {
    .customers-list li {
        width: 12.5%;
        font-size: 16px;
    }
}
