<div class="grey-border">
    <h2 class="page-header">
        客户 <small>({{amount}} / {{totalAmount}})</small>
        <button type="button" class="btn btn-info pull-right">
            创建 <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        </button>
    </h2>

    <div>
        <div class="form-group input-group">
            <input type="text" class="form-control" id="searchAnimals" placeholder="搜索客户名, 拼音或电话"
                   [(ngModel)]="filterText" (keyup)="onSearch($event.target.value)" (input)="onSearch($event.target.value)" />
            <div class="input-group-btn">
                <button type="button" class="btn btn-default" aria-label="Clear" (click)="onClearFilter()">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </div>
        </div>
    </div>


    <div class="btn-group pull-right" role="group" aria-label="View Mode">
        <button type="button" class="btn btn-default" (click)="onSwitchViewMode(true)"
                [ngClass]="{active: isListViewMode}">
            <span class="glyphicon glyphicon-th-list"></span>
        </button>
        <button type="button" class="btn btn-default" (click)="onSwitchViewMode(false)"
                [ngClass]="{active: !isListViewMode}">
            <span class="glyphicon glyphicon-th-large"></span>
        </button>
    </div>
    <p style="height:35px">&nbsp;</p>

    <table class="table table-hover" *ngIf="isListViewMode">
        <tbody>
            <tr *ngFor="#c of searchList; #i = index">
                <th scope="row">
                    <h3>{{c.index}}</h3>
                </th>
                <td class="vert-align">{{c.name}}</td>
                <td class="vert-align">{{c.tel}}</td>
                <td class="vert-align">{{c.address}}</td>
            </tr>
        </tbody>
    </table>

    <ul class="customers-list" *ngIf="!isListViewMode">
        <li *ngFor="#c of searchList; #i = index">
            <i class="fa fa-{{i < icons.length ? icons[i] : icons[i % length]}} fa-2x"></i>
            <h4>{{c.name}}</h4>
            <span>{{c.tel}}</span>
        </li>
    </ul>

</div>