<div class="grey-border">
    <h2 class="page-header">
        客户 <small>({{amount}} / {{totalAmount}})</small>
        <p class="pull-right">
            <button type="button" class="btn btn-info">
                创建 <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            </button>
        </p>
    </h2>

    <div>
        <div class="form-group input-group">
            <input type="text" class="form-control" id="searchAnimals" placeholder="搜索客户名, 拼音或电话"
                   [(ngModel)]="filterText" (keyup)="onSearch($event.target.value)" (input)="onSearch($event.target.value)" />
            <div class="input-group-btn">
                <button class="btn btn-default" aria-label="Clear" (click)="onClearFilter()">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </div>
        </div>
    </div>

    <p class="text-right">
        <button class="btn btn-default" (click)="onSwitchViewMode(true)">
            <span class="glyphicon glyphicon-th-list"></span>
        </button>
        <button class="btn btn-default" (click)="onSwitchViewMode(false)">
            <span class="glyphicon glyphicon-th-large"></span>
        </button>
    </p>

    <ul class="list-group" *ngIf="isListViewMode">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
    </ul>

    <ul class="customers-list" *ngIf="!isListViewMode">
        <li *ngFor="#c of searchList; #i = index">
            <i class="fa fa-{{i < icons.length ? icons[i] : icons[i % length]}} fa-2x"></i>
            <h4>{{c.name}}</h4>
            <span>{{c.tel}}</span>
        </li>
    </ul>

</div>