@model SAKURA.NZB.Domain.Product

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Product</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Cost" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <div class="input-group">
                    <div class="input-group-addon">$</div>
                    <input asp-for="Cost" class="form-control" />
                    <div class="input-group-addon">NZD</div>
                </div>
                <span asp-validation-for="Cost" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CategoryId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <div class="input-group">
                    <select asp-for="CategoryId" asp-items="ViewBag.CategoryList"
                         class="form-control" ></select>
                    <span asp-validation-for="CategoryId" class="text-danger" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Desc" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="Desc" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Desc" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
