<div class="grey-border">
    <h2 class="page-header">{{title}}</h2>

    <div>
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#customer" aria-controls="customer" role="tab" data-toggle="tab">客户</a></li>
            <li role="presentation"><a href="#product" aria-controls="product" role="tab" data-toggle="tab">产品</a></li>
            <li role="presentation"><a href="#deliveryForm" aria-controls="deliveryForm" role="tab" data-toggle="tab">明细</a></li>
            <li role="presentation"><a href="#summary" aria-controls="summary" role="tab" data-toggle="tab">利润表</a></li>
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="customer">
                <table>
                    <tr>
                        <td>
                            <alpha-indexer [elements]="elementSource" (selectedId)="onElementSelected($event)"></alpha-indexer>
                        </td>
                        <td class="customer-details">
                            <div class="card">
                                <div class="card-header">
                                    客户
                                </div>

                                <div class="card-block" *ngIf="selectedCustomer == null">
                                    <div class="alert alert-info" role="alert"><i class="fa fa-warning"></i> 请先选择一个客户</div>
                                </div>

                                <div class="card-block" *ngIf="selectedCustomer != null">
                                    <h4 class="card-title">{{selectedCustomer.fullName}}</h4>
                                    <p class="card-text">
                                        <input type="radio" id="radio01" name="phoneRadio" checked="checked" *ngIf="selectedCustomer.phone2 != null" 
                                               (click)="onSelectPhone(selectedCustomer.phone1)"/>
                                        <label for="radio01"><span></span><i class="fa fa-phone"></i> {{selectedCustomer.phone1}}</label>
                                    </p>
                                    <p class="card-text" *ngIf="selectedCustomer.phone2 != null">
                                        <input type="radio" id="radio02" name="phoneRadio" 
                                               (click)="onSelectPhone(selectedCustomer.phone2)"/>
                                        <label for="radio02"><span></span><i class="fa fa-phone"></i> {{selectedCustomer.phone2}}</label>
                                    </p>
                                    <p class="text-divider" *ngIf="selectedCustomer.phone2 != null || selectedCustomer.address1 != null"></p>
                                    <p class="card-text">
                                        <input type="radio" id="radio03" name="addressRadio" checked="checked" *ngIf="selectedCustomer.address1 != null"
                                               (click)="onSelectAddress(selectedCustomer.address)" />
                                        <label for="radio03"><span></span><i class="fa fa-home"></i> {{selectedCustomer.address}}</label>
                                    </p>
                                    <p class="card-text" *ngIf="selectedCustomer.address1 != null">
                                        <input type="radio" id="radio04" name="addressRadio" 
                                               (click)="onSelectAddress(selectedCustomer.address1)"/>
                                        <label for="radio04"><span></span><i class="fa fa-home"></i> {{selectedCustomer.address1}}</label>
                                    </p>

                                    <hr />

                                    <div class="input-group">
                                        <span class="input-group-addon">附加客户</span>
                                        <input id="exCustomer" class="form-control"
                                               [(ngModel)]="selectedExCustomerName"
                                               [typeahead]="allCustomers"
                                               (typeaheadOnSelect)="onSelectExCustomer($event)"
                                               [typeaheadOptionField]="'name'"/>
                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-default" aria-label="Clear"
                                                    (click)="onAddExCustomer()"
                                                    [disabled]="selectedExCustomer == null || selectedExCustomer.id == selectedCustomer.id">
                                                <span class="glyphicon glyphicon-plus"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item" *ngFor="#c of exCustomers">{{c.name}}</li>
                                </ul>
                            </div>

                            <div class="recipient">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label for="inputRecipient" class="col-sm-2 control-label">收件人</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="inputRecipient" [(ngModel)]="order.recipient">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPhone" class="col-sm-2 control-label">电话</label>
                                        <div class="col-sm-10">
                                            <input type="tel" class="form-control" id="inputPhone" [(ngModel)]="order.phone">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputAddress" class="col-sm-2 control-label">地址</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="inputAddress" [(ngModel)]="order.address">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="product">...esd</div>
            <div role="tabpanel" class="tab-pane fade" id="deliveryForm">..fs.</div>
            <div role="tabpanel" class="tab-pane fade" id="summary">df..d.</div>
        </div>

    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="button" class="btn btn-default" [routerLink]="['订单']">返回列表</button>
            <button type="submit" class="btn btn-success left-spacer">
                保存 <i class="fa fa-floppy-o fa-lg"></i>
            </button>
        </div>
    </div>
</div>