<div class="grey-border">
    <h2 class="page-header">{{title}}</h2>

    <div>
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#customer" aria-controls="customer" role="tab" data-toggle="tab">客户 <span class="badge">{{customerCount}}</span></a></li>
            <li role="presentation"><a href="#product" aria-controls="product" role="tab" data-toggle="tab">产品</a></li>
            <li role="presentation"><a href="#deliveryForm" aria-controls="deliveryForm" role="tab" data-toggle="tab">明细</a></li>
            <li role="presentation"><a href="#summary" aria-controls="summary" role="tab" data-toggle="tab">利润表</a></li>
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="customer">
                <order-customer [(customerInfo)]="customerInfo"></order-customer>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="product">
                <order-product></order-product>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="deliveryForm">..fs.</div>
            <div role="tabpanel" class="tab-pane fade" id="summary">df..d.</div>
        </div>

    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="button" class="btn btn-default" [routerLink]="['订单']">返回列表</button>
            <button type="submit" class="btn btn-success left-spacer">
                保存 <i class="fa fa-floppy-o fa-lg"></i>
            </button>
        </div>
    </div>
</div>