<div class="grey-border">
    <h2 class="page-header">Orders</h2>

    <div *ngFor="#y of data">
        <h3 class="text-center bg-cyan year-header" *ngIf="thisYear != y.year">{{y.year}}</h3>
        <div *ngFor="#m of y.monthGroups">
            <div class="bg-primary-light month-header clearfix">
                <span class="pull-left">{{m.month}}</span>
                <div class="pull-right">
                    <table class="month-header">
                        <tr>
                            <td><i class="fa fa-shopping-cart"></i> {{m.models.length}}</td>
                            <td class="hidden-xs"><i class="fa fa-dollar"></i> {{m.totalCost}}</td>
                            <td class="hidden-xs"><i class="fa fa-yen"></i> {{m.totalPrice}}</td>
                            <td><i class="fa fa-money"></i> {{m.totalProfit(currentRate)}}</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="details">
                <div *ngFor="#md of m.models; #imd = index">
                    <small class="text-muted">{{md.orderTime}}</small>

                    <div class="row vertical-align-parent" *ngFor="#co of md.customerOrders; #ico = index">
                        <div class="col-xs-3">
                            <div class="customer">
                                <i class="fa fa-user bg-cyan hidden-xs"></i><span>{{co.customerName}}</span>
                            </div>
                        </div>
                        <div class="col-xs-7 product-list">
                            <table class="table">
                                <tr *ngIf="ico == 0 && imd == 0">
                                    <th>产品名</th>
                                    <th class="hidden-xs">成本</th>
                                    <th class="hidden-xs">数量</th>
                                    <th class="hidden-xs">售价</th>
                                    <th>利润</th>
                                </tr>
                                <tr *ngFor="#op of co.orderProducts">
                                    <td>{{op.productBrand}} {{op.productName}}</td>
                                    <td class="hidden-xs">$ {{op.cost}}</td>
                                    <td class="hidden-xs">{{op.qty}}</td>
                                    <td class="hidden-xs">¥ {{op.price}}</td>
                                    <td>¥ {{op.strProfit}}</td>
                                </tr>
                                <tr *ngIf="ico == md.customerOrders.length - 1">
                                    <td></td>
                                    <td class="hidden-xs">$ {{md.totalCost}}</td>
                                    <td class="hidden-xs">{{md.totalQty}}</td>
                                    <td class="hidden-xs">¥ {{md.totalPrice}}</td>
                                    <td><strong>¥ {{md.strTotalProfit}}</strong></td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-xs-1 vertical-align">
                            <div>
                                <i class="fa fa-angle-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</div>


