<div class="loading" *ngIf="isLoading">Loading&#8230;</div>

<div class="grey-border" *ngIf="!isLoading">
    <h2 class="page-header">
        Orders <small>({{totalItemCount}} / {{totalAmount}})</small>
        <button type="button" class="btn btn-info pull-right" [routerLink]="['OAdd']">
            新建 <i class="fa fa-shopping-cart fa-lg"></i>
        </button>
    </h2>

    <div class="row order-search">
        <div class="col-xs-12 col-sm-6">
            <div class="input-group">
                <input type="text" class="form-control" id="keyword" placeholder="客户姓名拼音, 品牌, 订单号" [(ngModel)]="filterText"
                       (keyup)="onSearchByKeyword($event.target.value)" (input)="onSearchByKeyword($event.target.value)">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default" aria-label="Clear" (click)="onClearFilter()">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <select id="orderstate" class="form-control" [(ngModel)]="orderState" (change)="onSearchByState($event.target.value)">
                <option value="" selected default>订单状态</option>
                <option *ngFor="#key of orderStateKeys" value="{{key}}">{{orderStates[key]}}</option>
            </select>
        </div>
        <div class="col-xs-6 col-sm-3">
            <select id="paymentstate" class="form-control" [(ngModel)]="paymentState" (change)="onSearchByPayment($event.target.value)">
                <option value="" selected default>支付状态</option>
                <option *ngFor="#key of paymentStateKeys" value="{{key}}">{{paymentStates[key]}}</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="pull-right">
                <pagination [totalItems]="totalItemCount" [(ngModel)]="page" [itemsPerPage]="itemsPerPage" [maxSize]="10"
                            [boundaryLinks]="true" [rotate]="false"
                            (pageChanged)="onPageChanged($event)"></pagination>
            </div>
        </div>
    </div>

    <div *ngFor="#md of searchList">
        <div class="month-header clearfix bg-info-dark" *ngIf="md.isMonthSaleItem">
            <span class="pull-left">{{md.monthSale.month}}</span>
            <div class="pull-right">
                <table class="font-weight-300">
                    <tr>
                        <td><i class="fa fa-shopping-cart"></i> {{md.monthSale.count}}</td>
                        <td class="hidden-xs"><i class="fa fa-dollar"></i> {{md.monthSale.cost}}</td>
                        <td class="hidden-xs"><i class="fa fa-yen"></i> {{md.monthSale.income}}</td>
                        <td class="padding-right-8"><i class="fa fa-money"></i> {{md.monthSale.profit}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="details" *ngIf="!md.isMonthSaleItem">
            <div class="row vertical-align-parent order-header">
                <div class="col-xs-6 vertical-align"><span class="text-muted">{{md.orderTime}}</span></div>
                <div class="col-xs-6 vertical-align order-action">
                    <div class="dropdown ">
                        <button class="btn btn-info btn-xs dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-edit"></i>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
                            <li><a [routerLink]="['OView', { id: md.id }]"><i class="fa fa-folder-open-o"></i>查看</a></li>
                            <li *ngIf="md.orderState != 'Completed'"><a [routerLink]="['OEdit', { id: md.id }]"><i class="fa fa-edit"></i>编辑</a></li>
                            <li *ngIf="md.orderState == 'Created'"><a (click)="onOrderAction(md.id, 'ToConfirmed')"><i class="fa fa-check-square-o"></i>确认订单</a></li>
                            <li *ngIf="md.orderState == 'Confirmed'"><a (click)="onDeliverOpen(md.id)"><i class="fa fa-truck"></i>发货</a></li>
                            <li *ngIf="md.orderState == 'Delivered'"><a (click)="onOrderAction(md.id, 'ToReceived')"><i class="fa fa-hand-peace-o"></i>客户签收</a></li>
                            <li *ngIf="md.orderState == 'Received' && md.paymentState == 'Paid'"><a (click)="onOrderAction(md.id, 'ToCompleted')"><i class="fa fa-smile-o"></i>结束订单</a></li>
                            <li role="separator" class="divider" *ngIf="md.paymentState == 'Unpaid'"></li>
                            <li *ngIf="md.paymentState == 'Unpaid'"><a (click)="onOrderAction(md.id, 'ToPaid')"><i class="fa fa-credit-card"></i>客户付款</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a [clipboard]="md.expressText"><i class="fa fa-clipboard"></i>拷贝快递单</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row order">
                <div class="col-xs-12 col-sm-10">
                    <div class="row" *ngFor="#co of md.customerOrders; #ico = index">
                        <div class="col-xs-4 col-sm-3 col-md-2">
                            <div class="customer">
                                <i class="widget-icon fa fa-user hidden-xs {{colorSheet[co.customerId % 12]}} opacity-60"></i><span>{{co.customerName}}</span>
                            </div>
                        </div>
                        <div class="col-xs-8 col-sm-9 col-md-10 product-list">
                            <table class="table">
                                <tr *ngIf="ico == 0 && imd == 0">
                                    <th>产品名</th>
                                    <th class="hidden-xs">单价($)</th>
                                    <th class="hidden-xs">售价(¥)</th>
                                    <th class="hidden-xs">数量</th>
                                    <th>利润(¥)</th>
                                </tr>
                                <tr *ngFor="#op of co.orderProducts">
                                    <td>{{op.productName}}</td>
                                    <td class="hidden-xs">{{op.cost}}</td>
                                    <td class="hidden-xs">{{op.price}}</td>
                                    <td class="hidden-xs">{{op.qty}}</td>
                                    <td [ngClass]="{up: op.profit > 0, down: op.profit < 0}">{{op.strProfit}}</td>
                                </tr>
                                <tr class="summary" *ngIf="ico == md.customerOrders.length - 1">
                                    <td>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6 col-md-3" *ngIf="md.weight > 0"><i class="fa fa-balance-scale fa-lg opacity-60"></i> {{md.weight}} kg</div>
                                            <div class="col-xs-12 col-sm-6 col-md-3" *ngIf="md.freight > 0"><i class="fa fa-dollar fa-lg opacity-60"></i> {{md.freight}}</div>
                                            <div class="col-xs-12 col-sm-12 col-md-6" *ngIf="md.hasExpressWaybill">
                                                <a (click)="onOpenExpressTrack(md.waybillNumber)"><i class="fa fa-barcode fa-lg opacity-60"></i>  {{md.waybillNumber}}</a>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="hidden-xs"><span class="underline">{{(md.totalCost).toFixed(2)}}</span></td>
                                    <td class="hidden-xs"><span class="underline">{{md.totalPrice}}</span></td>
                                    <td class="hidden-xs">{{md.totalQty}}</td>
                                    <td [ngClass]="{up: md.totalProfit > 0, down: md.totalProfit < 0}"><strong>{{md.strTotalProfit}}</strong></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 hidden-xs product-status">
                    <div class="row">
                        <div class="hidden-xs hidden-sm col-md-4 opacity-80">
                            <i class="fa fa-credit-card fa-lg" [ngClass]="{unpaid: md.paymentState != 'Paid', paid: md.paymentState == 'Paid'}"></i>
                        </div>
                        <div class="col-md-8">
                            <div class="progress-radial progress-{{md.statusRate}} center-block">
                                <div class="overlay">{{md.statusText}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form class="form-horizontal" (ngSubmit)="onDeliverySubmit()" #myForm="ngForm" [ngFormModel]="deliveryForm">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">运单信息</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label class="col-md-2" for="waybillNumber">运单号</label>
                        <div class="col-md-10">
                            <div class="input-group">
                                <input id="waybillNumber" type="text" class="form-control" maxlength="100" ngControl="waybillNumber" required #wbnumber="ngForm" />
                                <div class="input-group-addon"><i class="fa fa-barcode fa-lg"></i></div>
                            </div>

                            <div [hidden]="wbnumber.valid || wbnumber.pristine" class="alert alert-danger">
                                运单号不能为空
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2" for="waybillNumber">货品重量</label>
                        <div class="col-md-10">
                            <div class="input-group">
                                <input id="weight" type="number" class="form-control" min="0" step="0.1" ngControl="weight" required #weight="ngForm"
                                       (keyup)="onInputWeight($event.target.value)" />
                                <div class="input-group-addon">kg</div>
                            </div>

                            <div [hidden]="weight.valid || weight.pristine" class="alert alert-danger">
                                货品重量不能为空
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2" for="freight">运费</label>
                        <div class="col-md-10">
                            <div class="input-group">
                                <input id="freight" type="number" class="form-control" min="0" step="0.01" ngControl="freight" required #freight="ngForm" placeholder="NZD" />
                                <div class="input-group-addon">${{freightRate}}/kg</div>
                            </div>

                            <div [hidden]="freight.valid || freight.pristine" class="alert alert-danger">
                                运费不能为空
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-success" [disabled]="!myForm.form.valid">保存</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="expressTrackModal" tabindex="-1" role="dialog" aria-labelledby="expressTrackModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title" id="expressTrackModalLabel">运单跟踪</h2>
            </div>
            <div class="modal-body express-summary">
                <h3>运单号 {{expressTrackInfo.waybillNumber}}</h3>

                <div class="alert alert-warning" role="alert" *ngIf="expressTrackInfo.isEmpty">
                    <i class="fa fa-warning"></i> 该运单号的跟踪记录不存在。请检查：
                    <ul class="margin-top-10">
                        <li class="margin-top-5">该运单号是否有误</li>
                        <li class="margin-top-5">该运单号所属订单标记为<b>已完成</b></li>
                        <li class="margin-top-5">该运单已经超过<b>三个月</b>有效查询期</li>
                    </ul>
                </div>
                <div *ngIf="!expressTrackInfo.isEmpty">
                    <div class="row">
                        <div class="col-xs-3 text-center">
                            <div class="bg-info-light express-summary-left">
                                <i class="fa fa-clock-o fa-3x opacity-80"></i>
                                <h5>{{expressTrackInfo.duration}}</h5>
                            </div>
                        </div>
                        <div class="col-xs-3 text-center">
                            <div class="bg-info-light express-summary-middle">
                                <i class="fa fa-truck fa-3x opacity-80"></i>
                                <h5>{{expressTrackInfo.status}}</h5>
                            </div>
                        </div>
                        <div class="col-xs-3 text-center">
                            <div class="express-summary-middle" [ngClass]="{'bg-info-light':expressTrackInfo.arrivedTime, 'bg-grey': !expressTrackInfo.arrivedTime }">
                                <i class="fa fa-flag-o fa-3x opacity-80"></i>
                                <h5>{{expressTrackInfo.arrivedTimeDayText}} <span class="hidden-xs">{{expressTrackInfo.arrivedTimeText}}</span></h5>
                            </div>
                        </div>
                        <div class="col-xs-3 text-center">
                            <div class="express-summary-right" [ngClass]="{'bg-info-light':expressTrackInfo.recipient, 'bg-grey': !expressTrackInfo.recipient }">
                                <i class="fa fa-pencil fa-3x opacity-80"></i>
                                <h5>{{expressTrackInfo.recipientText}}</h5>
                            </div>
                        </div>
                    </div>
                    <h4 class="express-details-title">跟踪信息</h4>
                    <table class="table table-striped">
                        <tr *ngFor="#r of expressTrackInfo.details">
                            <td width="115">{{r.when}}</td>
                            <td width="90">{{r.where}}</td>
                            <td>{{r.content}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>

            </div>
        </div>
    </div>
</div>