.products-container td {
     vertical-align:top;
}

.product-details {   
    padding-left: 20px;
    width: 100%;
}

.product-table {
    width: 100%;
    margin-bottom: 0;
}

.product-table td,
.product-table th {
   vertical-align: middle;
   padding: 0;
}

.product-table .no-border {
    padding:6px 10px 6px 0;
}

