<div class="alert alert-info" role="alert" *ngIf="!isLoaded"><i class="fa fa-warning"></i> 请先选择客户</div>

<table class="products-container" *ngIf="isLoaded">
    <tr>
        <td *ngIf="!viewMode">
            <brand-indexer [items]="itemSource" (selectionChanged)="onItemSelected($event)"></brand-indexer>
        </td>
        <td class="product-details" [ngClass]="{splitter: !viewMode}">
            <div class="card" *ngFor="#co of customerOrders; #ico = index">
                <div class="card-header clickable" [ngClass]="{'bg-info-light': (selectedCustomerId == '' && ico == 0) || co.customerId == selectedCustomerId }"
                     (click)="onSelectCustomer(co.customerId)">
                    <strong>{{co.customerName}}</strong>
                </div>
                <div class="card-block">
                    <div class="alert alert-info" role="alert" *ngIf="co.orderProducts.length == 0"><i class="fa fa-warning"></i> 请选择产品</div>

                    <table class="table product-table" *ngIf="co.orderProducts.length > 0">
                        <thead>
                            <tr>
                                <th width="30px">#</th>
                                <th>产品</th>
                                <th width="80px">单价($)</th>
                                <th width="80px">售价(¥)</th>
                                <th width="60px">数量</th>
                                <th width="30px" *ngIf="!viewMode"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="#op of co.orderProducts; #iop = index" [ngClass]="{error: !op.isValid}">
                                <td>{{iop + 1}}</td>
                                <td><input class="form-control no-border" [(ngModel)]="op.productName" min="1" type="text"
                                           [readonly]="viewMode" (ngModelChange)="onModelChanged(co, op)" /></td>
                                <td><input class="form-control no-border" [(ngModel)]="op.cost" min="1" placeholder="NZD" step="0.01" type="number" 
                                           [readonly]="viewMode" (ngModelChange)="onModelChanged(co, op)"/></td>
                                <td><input class="form-control no-border" [(ngModel)]="op.price" min="1" placeholder="CNY" step="0.01" type="number" 
                                           [readonly]="viewMode" (ngModelChange)="onModelChanged(co, op)"/></td>
                                <td><input class="form-control no-border" [(ngModel)]="op.qty" min="1" step="1" type="number" 
                                           [readonly]="viewMode" (ngModelChange)="onModelChanged(co, op)"/></td>
                                <td *ngIf="!viewMode" (click)="onRemoveItem(co.customerId, op.productId)" class="clickable"><i class="fa fa-remove"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>     
            </div>
        </td>
    </tr>
</table>
