

.customers-container td {
     vertical-align:top;
}

.customer-details {   
    padding-left: 20px;
    width: 100%;
}

.card-block label {
    display: inline-block; 
    max-width: 100%; 
    margin-bottom: 0; 
    font-weight: 500;
}

.token {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    border: 1px solid #46b8da;
    color: #fff;
    background-color: #5bc0de;
    white-space: nowrap;
    margin: -1px 5px 10px 0;
    height: 35px;
    padding: 5px;
    cursor: default;
}

.token .token-label {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 4px;
    vertical-align: top;
}

.token .close {    
    display: inline-block;
    color: #fff;
    margin-left: 5px;
    float: none;
    height: 100%;
    padding-right: 4px;
}

.recipient {
    position: relative;
    padding: 45px 15px 15px;
    margin: 0 -15px 15px;
    border-style: solid;
    margin-right: 0;
    margin-left: 0;
    background-color: #fff;
    border-color: #ddd;
    border-width: 1px;
    border-radius: 4px 4px 0 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.recipient:after {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 12px;
    font-weight: 700;
    color: #959595;
    text-transform: uppercase;
    letter-spacing: 1px;
    content: "收件人信息";
}