.bg-header {
    color: #fff;
    background-color: #333;
}

.year-header {
    margin:0;
    padding: 10px 0 20px 0;
}

.month-header span {   
    padding-left: 10px;
}

.month-header table {
    width: 160px;
}

.month-header table td:first-child {
    width: 30%;
}

.month-header table td:nth-child(2) {
    width: 33%;
}

.details {
 
}

.details table {
    margin-bottom: 0;
    font-size: 12px;
}

.v-align-middle {
   vertical-align: middle;
}

.customer {
    border: 1px solid #ddd;
    width: 60px;   
    padding-left: 5px;
}

.customer i {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    text-align: center;
    line-height: 20px;
    margin-left: 15px;
}

.customer span {
    padding-left: 5px;
}

.product-list {
    
}

@media (min-width: 768px) {
    .month-header table {
        width: 300px;
    }

    .month-header table td:first-child {
        width: 20%;
    }

    .month-header table td:nth-child(2) {
        width: 25%;
    }

    .month-header table td:nth-child(3) {
        width: 25%;
    }
}

