.bg-header {
    color: #fff;
    background-color: #333;
}

.form-inline {
    margin-bottom: 15px;
}

.year-header {
    margin:0;
    padding: 10px 0 20px 0;
}

.month-header span {   
    padding-left: 10px;
}

.month-header table {
    width: 115px;
}

.month-header table td:first-child {
    width: 35%;
}

.form-group,
.form-control,
.details,
.dropdown-menu,
.modal-body {
    font-size: 12px;
}

.dropdown-menu i {
    margin-right: 8px;
}

.details > div:first-of-type {
    padding-bottom: 8px;
}

.details > div:nth-of-type(n+2) {
    padding-top: 8px;
    border-top: 1px solid #999;
}

.order-header {
    height: 30px;
}

.order {
    margin-bottom: 10px;
}

.vertical-align-parent {
  display: flex;
  flex-direction: row;
}

.vertical-align-parent .vertical-align {
  display: flex;
  align-items: center;
  /*justify-content: center; /* Optional, to align inner items 
                              horizontally inside the column */*/
}

.order-action {
   justify-content:flex-end;
}

.customer {
    border-top:  1px solid #ddd;
}

.customer > i {
    margin: 3px 8px 0 10px;
}

.widget-icon {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    text-align: center;
    line-height: 20px;

}

.product-list {
    padding-left: 0;
}

.product-list table {
    margin-bottom: 0;
}

.product-list th {
    font-weight: 600;
    color: #777;
}

.product-list th,
.product-list td {
    padding: 0;
}

.product-list th:nth-of-type(n+2),
.product-list td:nth-of-type(n+2) {
    padding-left: 8px;
    width: 70px;
}

.summary > td {
    padding-top: 3px;
}

.summary > td:last-of-type {
    color: green;
}

.product-status {
    padding-left: 0;
}

.unpaid {
    color: #aaa;
}

.paid {
    color: #4caf50;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.nav-tabs {
    margin-bottom: 0;
}

.card {
    position: relative;
    display: block;
    margin-bottom: .75rem;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: .25rem;
}

.card h4 {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.1;
}

.card-header:first-child {
    border-radius: .25rem .25rem 0 0;
}
.card-header {
    padding: .75rem 1.25rem;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e5e5e5;
}

.card-title {
    margin-bottom: 15px;
}

.card-block {
    padding: 1.25rem;
}

.card-block .text-divider {
    border-bottom: 1px solid #e5e5e5;
    margin: 15px 0;
}

.list-group {
    padding-left: 0;
    margin-bottom: 0;
}

.list-group-flush .list-group-item {
    border-width: 1px 0;
    border-radius: 0;
}

.card>.list-group:last-child .list-group-item:last-child {
    border-radius: 0 0 .25rem .25rem;
}
.list-group-flush:last-child .list-group-item:last-child {
    border-bottom: 0;
}

.customer-details {
    vertical-align:top;
    padding-left: 20px;
}

.card-block label {
    display: inline-block; 
    max-width: 100%; 
    margin-bottom: 0; 
    font-weight: 500;
}

@media (min-width: 768px) {
    .month-header table {
        width: 300px;
    }

    .month-header table td:first-child {
        width: 20%;
    }

    .month-header table td:nth-child(2) {
        width: 25%;
    }

    .month-header table td:nth-child(3) {
        width: 25%;
    }
}

