.bg-header {
    color: #fff;
    background-color: #333;
}

.order-search {
    margin-left: -5px;
    margin-right: -5px;
}

.order-search col-xs-6,
.order-search col-xs-12,
.order-search .col-sm-3,
.order-search .col-sm-6
 {
    padding-right: 5px;
    padding-left: 5px;
}

.form-inline {
    margin-bottom: 15px;
}

.year-header {
    margin:0;
    padding: 10px 0 20px 0;
}

.month-header {
    padding: 5px 0;
    font-size: 16px;
}

.month-header span {
    font-size: 18px;
    padding-left: 10px;
}

.month-header table td:first-child {
    width: 35%;
}

.form-group,
.form-control,
.details,
.dropdown-menu,
.modal-body {
    font-size: 12px;
}

.dropdown-menu i {
    margin-right: 8px;
}

.details {
    border-bottom: 1px solid #ccc;
}

.order-header {
    height: 30px;
}

.order {
    margin-bottom: 10px;
}

.vertical-align-parent {
  display: flex;
  flex-direction: row;
}

.vertical-align-parent .vertical-align {
  display: flex;
  align-items: center;
  /*justify-content: center; /* Optional, to align inner items 
                              horizontally inside the column */
}

.order-action {
   justify-content:flex-end;
}

.customer {
    border-top:  1px solid #ddd;
}

.customer > i {
    margin: 3px 8px 0 10px;
}

.widget-icon {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    text-align: center;
    line-height: 20px;

}

.product-list {
    padding-left: 0;
}

.product-list table {
    margin-bottom: 0;
}

.product-list th {
    font-weight: 600;
    color: #777;
}

.product-list th,
.product-list td {
    padding: 0;
}

.product-list th:nth-of-type(n+2),
.product-list td:nth-of-type(n+2) {
    padding-left: 8px;
    width: 70px;
}

.summary > td {
    padding-top: 3px;
}

.paid,
.up {
    color: green;
}

.unpaid,
.down {
    color: red;
}

.underline {
	border-bottom: #777 1px solid;
}

.express-summary h3 {
    margin-top: 10px;
    margin-bottom: 15px;
}

.express-summary h5 {
    margin-top: 5px;
}

.express-summary .row {
    margin-right: -3px;
    margin-left: -3px;
}

.express-summary .col-xs-3 {
    padding-right: 3px;
    padding-left: 3px;
}

.express-summary .express-summary-left {
    padding: 8px 0 3px 0;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}

.express-summary .express-summary-middle {
    padding: 8px 0 3px 0;
}

.express-summary .express-summary-right {
    padding: 8px 0 3px 0;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}

.express-details-title {
    margin-top: 25px;
}

@media (min-width: 768px) {
    .month-header table td:first-child {
        width: 20%;
    }

    .month-header table td:nth-child(2) {
        width: 25%;
    }

    .month-header table td:nth-child(3) {
        width: 30%;
    }
}

